[user]
	name = Nikolai-Grytvik-Borbe
	email = nikolaiborbe@gmail.com
[credential]
	helper = store
[alias]
	pr = pull --rebase
	st = status
    browse = "!gh repo view --web"
    initrepo = "!git init && gh repo create $(basename $(pwd)) --public --source=. --remote=origin && git remote add origin git@github.com:Nikolai-Grytvik-Borbe/$(basename $(pwd)).git"
	lg = log --oneline --graph --decorate --all
	ci = commit
	al = config --get-regexp alias
	openci = "!f() { REPO=$(git config --get remote.origin.url | sed -e \"s/git@github.com:/https:\\/\\/github.com\\//\" -e \"s/\\.git$//\"); COMMIT=$(git rev-parse HEAD); open \"$REPO/commit/$COMMIT\"; }; f"

